*.class
*.jar
*.war
*.ear

# Ignorar arquivos específicos
.classpath
.project

# Use curingas como
*~
#*.swp

# Ignorar todos os diretórios e arquivos em um diretório.
 target/**/*
 receitasvovozefa/**/*	 
